<div class="row">
  <div class="col-lg-6 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Edit Comment</strong>
      </div>
      <div class="card-body">
        <%= render 'form', comment: @comment %>
      </div>
    </div>
  </div>
</div>
