<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Listing all Comments</div>
      <div class="card-body">
        <table class="table table-responsive-sm">
          <thead>
          <tr>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= truncate(comment.description, length: 50) %></td>
              <td><%= link_to "Edit",  edit_admin_comment_path(comment), class: "btn btn-xs btn-primary" %></td>
              <td><%= link_to "Delete", admin_comment_path(comment), method: :delete , data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-danger" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
