<div class="row">
  <div class="col-lg-9 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Comment</strong>
      </div>
      <div class="card-body">
        <h2 align="center">Comment:</h2>
        <div class="well col-xs-8 col-xs-offset-2">
          <br>
          <h4>Description: </h4><br>
          <p><%= @comment.description%></p>
          <div class="article-actions">
            <%= link_to "Edit",  edit_admin_comment_path(@comment), class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
