<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Fair-price</title>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body bgcolor="#FFFFFF" style="margin: 0px; padding: 0px; font-family: Helvetica;" >
<div style="width: 600px; margin: 0 auto;"> 
  
  <!----Header-----
--------------->
  <div style="">
    <div style="">
      <div style="padding: 20px 10px;">
        <table style="width: 100%">

          <p style="font-size: 18px; font-weight: 600;color: #3c3b3b;line-height: 1.5;display: inline;margin: 20px auto;">From: </p><span>FAIR PRICE (onlineorders@fairprice.co.za)
</span>
          <br>
          <p style="font-size: 18px; font-weight: 600;color: #3c3b3b;line-height: 1.5;display: inline;margin: 20px auto;">Subject: </p><span>FAIR PRICE |Password Reset</span>
<br>
          
          <div style="width: 300px;height: 60px;display: inline-block;float: right;margin-top: 20px;">
            <span style="float: right;"> <img src="https://i.ibb.co/bvwkvPK/Logo.png" width="100%" height="auto%"></span>
          </div>
          
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div></div>
          <div></div>
          
          <p style="font-size: 16px; font-weight: 600;color: #3c3b3b;display: inline;s">Hi <%= @user.first_name + " " + @user.last_name %></p>
          
          <p style="font-size: 15px; line-height: 1.5;margin: 35px 0px">We received your request to reset your password for your fairprice.co.za account.</p>
          
          <p style="font-size: 15px; line-height: 1.5;font-weight: 700;margin: 35px 0px">Please click on the link below to choose a new password. </p>
          
          <p style="font-size: 15px; line-height: 1.5;color:red;margin: 35px 0px"> <%=link_to "link", reset_password_url(user_id: @user.id), html_options = { style: "font-weight: bold" } %></p>
         
          <p style="font-size: 15px; line-height: 1.5;margin: 35px 0px">For your safety, this link is only available for a short while. If it expires click on the link below to request a new one</a>
          </p>


          <p style="font-size: 15px; line-height: 1.5;margin: 35px 0px">Happy Shopping</p>

          <p style="font-size: 15px; line-height: 1.5;margin-top:50px;margin-bottom: 0px">Regards</p>

          <p style="font-size: 15px; line-height: 1.5;margin: 0px">The FAIR PRICE Team</p>


        </table>
        
        
      </div>
    
    </div>
  </div>


</div>
</body>
</html>
