<div class="card">
  <div class="card-header custom-card-header">
    <i class="fa fa-align-justify"></i> Listing all Product Types</div>
  <div class="card-body">
    <table id="product-type-table" class="table table-striped table-bordered display">
      <thead>
      <tr>
        <th>Title</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @product_types.each do |product_type| %>
        <tr>
          <td><%= product_type.title %></td>
          <td><%= link_to "Edit",  edit_admin_product_type_path(product_type), class: "btn btn-xs btn-primary custom-table-edit-btn" %>
            <%= link_to "Delete", admin_product_type_path(product_type), method: :delete , data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-danger custom-table-delt-btn" %>
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
    $(document).ready( function () {
        $('#product-type-table').dataTable();
    } );
</script>

