<div class="row">
  <div class="col-lg-8 mt-3 offset-2">
    <div class="card">
      <div class="card-header custom-card-header">
        <strong>New Product Type</strong>
      </div>
      <div class="card-body">
        <%= render 'form', product_type: @product_type %>
      </div>
    </div>
  </div>
</div>
