<style type="text/css">
  .single_product_item .single_product_text a {
    display: initial !important;
    visibility: visible !important;
}

  .modal-body{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
  }


  @media only screen and (max-width: 600px) {

  
.category_img1{
  width: 100%;
  /*height:300px;*/
  float: right
}

.category_img2{
  width: 100%;
  /*height:300px;*/ 
  float: right;
}

.category_img3{
  width: 100%;
  /*height:300px; */
  float: right;
}
.category_img4 {
     width: 100%; 
  /*  height: 260px;*/
    float: right;
}
.category_img5 img{

width: 100%;
height: auto;
margin-top: -40px;

}

.category_img6 {
    width: 220px ;
    /*height: 220px;*/
    float: right;
}

.category_img7{

  width: 100%;
 /* height:275px; */
  float: right;

}

.category_img8
{
  width: 100%;
/*height:220px; */
  float: right;
}


/*--------bannar image --------*/

.banner_img{

 padding: 5px 20px !important ;

}



}

/*------- media querry end--------*/


.category_img1{
  width: 300px;
  height:300px;
  float: right
}
.category_img1 img{
  width:100%;
  height: auto;
  margin-top: -100px;
}

.category_img2{
  width: 300px;
  height:300px; 
  float: right;
}

.category_img2 img{
 height: auto;
 width: 100%;
 margin-top: -20px;
}


.category_img3{
  width: 300px;
  height:300px; 
  float: right;
}

.category_img3 img{
  height: auto;
  width: 100%;
  margin-top: -14px;
}

.category_img4{

  width: 260px;
  height:260px;
  float: right;
}

.category_img4 img{

height: auto;
width: 100%;
margin-top: -60px;
}

.category_img5{

width: 250px;
height:250px; 
float: right;

} 
.category_img5 img{

width: 100%;
height: auto;
margin-top: -40px;

}

.category_img6{

width: 220px;
height:220px; 
float: right;
} 

.category_img6 img{

height: auto;
width: 100%;
margin-top: -59px;
}

.category_img7{

  width: 260px;
  height:275px; 
  float: right;

}
.category_img7 img{
height: auto;
width: 100%;
/*margin-top: -50px;*/

}

.category_img8
{
  width: 300px;
height:220px; 
  float: right;
}
.category_img8 img{
  height: auto;
  width: 100%;
  margin: 15px;
}



/*  @media only screen and (max-width: 600px) {
 
 .category_img1 img{

  margin-top: -60px !important;
 }
  .category_img2 img{

  margin-top: 20px !important;
 }
 
  .category_img3 img{

  margin-top: 0px !important;
 }
 
  .category_img4 img{

  margin-top: 10px !important;
 }
 
  .category_img5 img{

  margin-top: -60px !important;
 }
 
  .category_img6 img{

  margin-top: -60px !important;
 } 
 .category_img7 img{

  margin-top: -60px !important;
 }
  .category_img8 img{

  margin-top: -60px !important;
 }
}




</style>
<!--Use class "navbar-fixed" or "navbar-default" -->
<!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

<!-- ======================== Navigation ======================== -->

<!-- ==========  Search wrapper ========== -->
<!-- ==================  Header content ======================== -->
<br>
<br>
<br>
<br>
</div>

<div class="modal" id="add_to_cart_modal" style="align-items: center;"> 
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" >Product Added to cart</h4>
        <button type="button" class="close close_1" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="display: inline-flex;">
          <br>
          <br>
          <div class="checkout_btn_inner float-right">
            <a  class="btn_1 checkout_btn_2" href="" style="margin-left: 20px;">Shop More</a>
          </div>
          <div class="checkout_btn_inner float-right">
            <a  class="btn_1 checkout_btn_1" href="/cart">Go to Cart</a>
          </div>
      </div>

    </div>
  </div>
</div>

<% if flash[:add_to_cart] %>
  <script type="text/javascript">
    $('#add_to_cart_modal').modal('show');
  </script>
<% end  %>

<!-- <script type="text/javascript">function add_chatinline(){var hccid=38913139;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script> -->
<!-- <script type="text/javascript">function add_chatinline(){var hccid=26495419;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);} -->
<!-- add_chatinline(); </script> -->

<script>


  // code here end
    $(document).ready(function () {
        //single banner slider
        $('.banner_slider').on('initialized.owl.carousel changed.owl.carousel', function (e) {
            function pad2(number) {
                return (number < 10 ? '0' : '') + number
            }

            var carousel = e.relatedTarget;
            $('.slider-counter').text(pad2(carousel.current()));

        }).owlCarousel({
            items: 1,
            loop: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            nav: true,
            navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            smartSpeed: 1000,
            responsive: {
                0: {
                    nav: false
                },
                600: {
                    nav: false
                },
                768: {
                    nav: true
                }
            }
        });

    });

    var best_product_slider = $('.best_product_slider');
    if (best_product_slider.length) {
        best_product_slider.owlCarousel({
            items: 4,
            loop: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            nav: true,
            navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            responsive: {
                0: {
                    margin: 15,
                    items: 1,
                    nav: false
                },
                576: {
                    margin: 15,
                    items: 2,
                    nav: false
                },
                768: {
                    margin: 30,
                    items: 3,
                    nav: true
                },
                991: {
                    margin: 30,
                    items: 4,
                    nav: true
                }
            }
        });
    }

    //product list slider
    var product_list_slider = $('.product_list_slider');
    if (product_list_slider.length) {
        product_list_slider.owlCarousel({
            items: 1,
            loop: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 5000,
            nav: true,
            navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
            smartSpeed: 1000,
            responsive: {
                0: {
                    margin: 15,
                    nav: false,
                    items: 1
                },
                600: {
                    margin: 15,
                    items: 1,
                    nav: false
                },
                768: {
                    margin: 30,
                    nav: true,
                    items: 1
                }
            }
        });
    }
    
    function validateEmail($email) {
      var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      return emailReg.test( $email );
    }

      $("#basic-addon2").click(function () {
        email = $('#newsletter-form-email-1').val()
        if (email == ""){
          toastr.error('Email is required!');
          return false;
        }
        else if( !validateEmail(email)){
          toastr.error('Email is not correct!');
          return false;
        }
        else{
          $.ajax({
            headers: { 'X-CSRF-Token': Rails.csrfToken() },
            url: '/home/subscribe_user?email=' + email,
            type: "POST",
            processData: false,
            success: function (data) {
              window.location.href = '/';
              // toastr.success('Email Subscribe sucessfully')
            }
          });
        }
      });


      // addd js code

</script>