<div class="row">
  <div class="col-lg-6 mt-3 offset-3">
    <div class="card">
      <div class="card-header custom-card-header">
        <strong>Edit Category</strong>
      </div>
      <div class="card-body">
        <%= render 'form', category: @category %>
      </div>
    </div>
  </div>
</div>
