<%= render 'shared/errors', obj: @product %>
<%= form_for  @product, :url => bulk_upload_products_admin_products_path do |f| %>
  
  <div class="form-group">
    <label><b>Bulk Upload</b></label>
    <br>
    <%= f.file_field :products %><br><br>
  </div>

  <%= f.submit "Upload Products",class: "btn btn-block btn-primary custom-table-edit-btn"%>
<% end %>

<script>
    $(document).ready(function() {
        var x = new SlimSelect({
            select: '#demo'
        });
    });
</script>
