<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="app custom-login-page login-page flex-row align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body text-center">
                <h2>Forgot your password?</h2>
                <hr>
                <%= f.error_notification %>
                <hr>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <%= f.email_field :email,  class: "form-control", placeholder: "Email", autofocus: true %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary custom-login-btn px-4"%>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>








