<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/disclaimer.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Disclaimer</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">

      <p class="about-content-style topmargin" >
        Unless otherwise indicated, all content on this website is protected by copyright and may not be used for any purpose without written permission from Fair Price.
      </p>
      <p class="about-content-style" >
        Considering the dynamic nature of the Internet, Fair Price cannot take responsibility for the contents of sites that may be accessed through these web pages. Links to other sites from our website are provided "as is" and do not represent, necessarily, the position of Fair Price endorsement of a particular site. Use of links from our website are made at your sole risk and we assume no liability or responsibility for use of links from our site.
      </p>
      <p class="about-content-style" >
        While avoiding censorship, we make an effort to post suitable information and links which may be of value. It is the user's responsibility to decide whether or not a particular website is appropriate.
      </p>
      <p class="about-content-style" >
        Under no circumstances, including, but not limited to, negligence, shall Fair Price, its employees, representatives, agents, affiliates and successors be liable for any direct, indirect, incidental, special or consequential damages that result from the use of, or the inability to use, any materials accessed thought this website. You specifically acknowledge and agree that Fair Price is not liable for any defamatory, offensive or illegal conduct of any user. If you are dissatisfied with this website, any materials accessed through this website or with any of Fair Price terms and conditions governing access to or use of this website, your sole and exclusive remedy is to discontinue using those materials and terminate your access to this website. Anything you disclose through this website is the property of Fair Price.
      </p>
      <p class="about-content-style topmargin" >
        Photographs or pictures of people or places shown on this site are the property of Fair Price or property being used with another's permission. Photographs, pictures, trademarks, logos and service marks used on this site may not be used in any form without prior written permission from Fair Price.
      </p>
      <p class="about-content-style topmargin" >
        At certain places on the Fair Price website, live "links" to other Internet addresses can be accessed. Such external Internet addresses contain information created, published, maintained, or otherwise posted by institutions or organizations independent of the Fair Price website. Fair Price does not endorse, approve, certify, or control these external Internet addresses and does not guarantee the accuracy, completeness, efficacy, timeliness, or correct sequencing of information located at such addresses.
      </p>
      <p class="about-content-style topmargin" >
        Use of any information obtained from such addresses is voluntary, and reliance on it should only be undertaken after an independent review of its accuracy, completeness, efficacy, and timeliness. Reference therein to any specific commercial product, process, or service by trade name, trademark, service maker, cartoon image, manufacturer, licensor, mortgagor, or otherwise does not necessarily constitute or imply endorsement, recommendation, or favouring by Fair Price
      </p>
    </div>
  </div>
</section>





