<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 >Employee Bursaries</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">
      <h4 style="color: red;">Fair Price Employee Children's Bursary Fund (ECBF)</h4>

      <p class="about-content-style topmargin" >
        As part of our commitment towards our employees, Fair Price is pleased to announce our partnership with The South African National Zakah Fund (SANZAF), who will be offering university bursaries to the children of Fair Price employees.
      </p>
    </div>
    <div class="container">
      <h4 style="color: red;">Terms & Conditions</h4>

      <p class="about-content-style topmargin" >
        The Fair Price Employee Children’s Bursary Fund (ECBF) is open to the children, siblings and spouses of employees of Fair Price South Africa.
      </p>
      <p class="about-content-style" >
        • Employees must be in the employ of Fair Price South Africa for a minimum of 12 months and must be currently employed by Fair Price South Africa to apply. <br>
• The Fair Price ECBF is administered by SANZAF. <br>
• The Fair Price ECBF will only consider applications for study at a South African University, University of Technology or registered FET College. Except for institutions offering nursing and paramedics, all other private institutions will not be considered. <br>
• Applicants are not guaranteed funding and applications and may be subject to other terms and conditions. <br>
• Where successful, funding will be paid directly into the accounts of the institution and never into the account of the applicant or employee. <br>
• Successful applicants are not guaranteed the full fees towards the cost of the course for the respective year of study. Applicants will be notified regarding the amount of funding provided. <br>
• A successful applicant is only guaranteed a bursary for the 2020 academic year. <br>
• Applicants will need to re-apply each year and will need to satisfy any (new) criteria in that respective year. Furthermore applicants need to submit results prior to re-applying. <br>
• Amongst other things, an applicant must satisfy the minimum entry criteria to register at one of the above institutions to be considered for the Fair Price ECBF. <br>
• The Fair Price ECBF is offered as a grant and is not repayable. However if the applicant deregisters from the institution then any amounts paid towards the course will be recouped from the employee in monthly instalments over a period of 36 months. Should the employee leave before repayment is complete, the outstanding amount will be deducted from the employee’s final salary. <br>
• In order to avoid any inadvertent bias, either in favour or against an employee, the management of Fair Price have delegated the entire processing and selection of the applicants to SANZAF. <br>
• The recommendations of SANZAF will be taken as final so long as they satisfy the greater objective of empowering the children of Fair Price employees. <br>
• SANZAF and Fair Price will not entertain any correspondence after the final decision has been made by SANZAF. <br>
• Applications open on 01 December 2019 and close on 10 January 2020 and successful applicants will be informed of the status of their application by 17 January 2020. <br>
• Applicants who may need to apply and/or pay a registration fee before the 15 February 2020 (i.e. before a decision to grant is made) do so at their own discretion. <br>
• Should an applicant be successful in receiving a bursary then any such application / registration fees paid by a successful applicants may be refunded to the employee. Proof of payment(s) will be required. <br>
• Successful applicants will be required to attend a compulsory interview on the 25th of January 2020. <br>
• Successful applicants will be required to provide additional documentation as requested. <br>
• Applicants will be informed of the outcome of the application process via email and/or SMS by 29 January 2020. <br>
• Email queries to <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=bursary.jhb@sanzaf.org.za"  style="color: lightblue;">bursary.jhb@sanzaf.org.za</a> with reference Fair Price ECBF. Requirements
      </p>
    </div>
    <div class="container">
      <h4 style="color: red;">Application Process</h4>

      <p class="about-content-style" >
        
• Applications can only be made online at <a href="https://form.myjotform.com/80031877524557" style="color: lightblue;">Fairprice Bursary Application</a> https://form.myjotform.com/80031877524557 <br>
• All applicants are to ensure that they have received Provisional Acceptance letters/notifications from the Tertiary Institute's they have applied to before applying for the SANZAF bursary.
      </p>
    </div>
  </div>
</section>