<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/breadcrumb.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>About</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">

      <p class="about-content-style topmargin" >
        Fair Price is a partially integrated furniture and appliance company. We are a Furniture Retailer (cash and lay-bye) of locally manufactured and imported furniture and appliances, with stores in townships, central business districts, suburban and regional shopping malls and value marts.
      </p>
      <p class="about-content-style" >
        We manufacture a comprehensive range of products (i.e. wardrobes, bedroom suites, TV units, wall units and kitchen units), exclusively for our own stores. Our Stores are supplied through our own national and local distribution centres.
      </p>
      <p class="about-content-style" >
        Fair Price have retail outlets located in Gauteng, North West, Mpumalanga, Free State and Limpopo Provinces of South Africa. There are currently 99 stores and will be expanding into other provinces in the near future.
      </p>
      <p class="about-content-style" >

        Fair Price continuously researches the requirements of our target market and we test our value proposition. We are therefore able to offer our customers:
      </p>
    </div>
  </div>
</section>





