<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/privacy_policy.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="padding-right: 2%;">Privacy Policy</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">

      <p class="about-content-style topmargin" >
        "User" a person who uses and/or accesses computer Software and/or material via the www.fairprice.co.za website;
      </p>
      <p class="about-content-style" >
        "www.fairprice.co.za" This Website, its sponsors, affiliates and creators;
      </p>
      <p class="about-content-style" >
        "Data" means any data (including Personal Information) provided to www.fairprice.co.za by a User;
      </p>
      <p class="about-content-style" >
        "Personal Information" Including but not limited to any Data or information about an identifiable User, including an email address;
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">INTRODUCTION</h1>

      <p class="about-content-style topmargin" >
        www.fairprice.co.za wants to help you maintain your privacy on the Internet. www.fairprice.co.za has formulated this Privacy Policy to explain how www.fairprice.co.za collects Data and for what purposes.
      </p>
      <p class="about-content-style" >
        In this agreement, unless it appears to the contrary, the singular shall include the plural and visa versa, any reference to any gender shall also include the opposite gender and any reference to a natural person, shall include legal person and visa versa.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">COLLECTION OF DATA</h1>

      <p class="about-content-style topmargin" >
        If a User registers with www.fairprice.co.za by completing a submission form, including but not limited to a newsletter registration form, an information enquiry form or a registration to gain access to a password protected zone, a User is not anonymous to www.fairprice.co.za. For the purposes of online purchasing, a User may also be prompted to provide necessary Personal Information to process a credit card or PayPal payment.
      </p>
      <p class="about-content-style" >
        Information collected by www.fairprice.co.za is stored in a secure operating environment that is not available to the public.
      </p>
      <p class="about-content-style" >
        If a User does not wish to submit any personal identifying information, the User should not submit any information within submission form fields on www.fairprice.co.za.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za does not have any motive or intention to gather contact Data of visitors who are under the age of 13 and would prefer that parental Data be supplied instead on behalf of a child under the age of 13.
      </p>
      <p class="about-content-style" >
        It is the nature of the Internet and websites that www.fairprice.co.za by default records User information on www.fairprice.co.za's server traffic reports from the browser which the User is using to view www.fairprice.co.za, including an IP address and which web pages were visited.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za uses cookie technology. Cookie technology consists of trace elements of data that is stored on the User's computer's hard drive and which contains information about the User, so that next time the User visits www.fairprice.co.za the Cookie recognises the User's prior visit.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">USE OF DATA</h1>

      <p class="about-content-style topmargin" >
        Users of www.fairprice.co.za understand and agree that in order to offer certain services or functions, www.fairprice.co.za must collect and use personal information about Users.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za may send a User messages by Email and/or SMS regarding their account.
      </p>
      <p class="about-content-style" >
        It is an optional condition of a User submitting Data to www.fairprice.co.za that Users agree to receive future Promotional messages from www.fairprice.co.za by Email and/or SMS or to Opt-out from future communications. A User can choose to opt-out of promotional messages at any time by contacting www.fairprice.co.za or following the unsubscribe link or instructions on the future communication.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za uses cookie technology and generates and saves User and session ID's to the User's Internet browser and computer to track and analyse website usage of the User. www.fairprice.co.za does this to be able to identify any technical problems with the workings of www.fairprice.co.za and to correct these to ensure a better online experience for the User.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">AUTHORISED ACCESS TO DATA</h1>

      <p class="about-content-style topmargin" >
        www.fairprice.co.za may disclose information to any authorized official if required to do so by law or if it is required to protect the safety of other www.fairprice.co.za Users or the public, or if www.fairprice.co.za believes that such action is necessary to protect and defend www.fairprice.co.za rights or properties.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za will not sell, rent, share, or distribute Personal Information to any entity other than 3rd parties which are vital in the administration of www.fairprice.co.za and the supply of goods or services that have been requested by the User, including but not limited to: hosting service providers, web administrators and online purchase and delivery service providers.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za may need to share Data with employees and employees of 3rd parties that require access to the Data to perform their day-to-day functions for www.fairprice.co.za.
      </p>
      <p class="about-content-style" >
        www.fairprice.co.za may disclose anonymous demographic and biometric statistics about the Data within the database for business purposes.
      </p>
      <p class="about-content-style" >
        In the event of www.fairprice.co.za changing ownership to a new entity, www.fairprice.co.za may transfer its rights to the Data to the new owner. The new owner of www.fairprice.co.za is required to notify each User of the transfer and the User may choose to modify its Personal Data at that time or choose to remove it.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">SECURE STORAGE OF DATA</h1>

      <p class="about-content-style topmargin" >
        Information collected by www.fairprice.co.za is stored in a secure operating environment that is not available to the public.
      </p>
      <p class="about-content-style" >
        All Data is available only to the User and those authorized employees to whom www.fairprice.co.za has granted permissions by issuing a username and password.
      </p>
      <p class="about-content-style" >
        It is the responsibility of each User to maintain the confidentiality and security of their password and to alert www.fairprice.co.za or reset their password if compromise of security is suspected.
      </p>
      <p class="about-content-style" >
        Any unauthorised use of www.fairprice.co.za systems and attempts to access Data without express authorisation is a violation of the Agreement, the act of which is prosecutable by Law.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">EDITING OR REMOVING DATA</h1>

      <p class="about-content-style topmargin" >
        A User is able to update or remove the Data they have submitted to www.fairprice.co.za, either by logging in or by contacting www.fairprice.co.za. User updates or removal will reflect in www.fairprice.co.za's active database, but www.fairprice.co.za may retain Data in backup files and archives or to prevent a User from being accidentally re-added to the database after they have expressly unsubscribed.
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">LIMITATION</h1>

      <p class="about-content-style topmargin" >
        www.fairprice.co.za has no control over information or privacy policies of 3rd party websites hyperlinked to from www.fairprice.co.za. These 3rd party links are being provided for the convenience of the Users of www.fairprice.co.za and www.fairprice.co.za does not endorse and is not responsible or liable for the content, nature or reliability of any linked website or any link contained in a linked website. www.fairprice.co.za takes no responsibility for monitoring, updating, supplementing or correcting any information on any linked website and makes no representation or warranties regarding such information. Please be aware that in linking to these outside websites, Users are leaving www.fairprice.co.za and that www.fairprice.co.za is not responsible for the content of any other site. 
      </p>
    </div>
    <div class="container">
      <h1 style="color: red;">ENQUIRIES</h1>

      <p class="about-content-style topmargin" >
        Any questions or concerns related to should be directed to the contact person listed on www.fairprice.co.za. At the bottom of the page please change copyright to Fair Discounters (PTY)LTD Contact Us – Enquiry section – move the blocks up to the top a bit more Swop the support office with enquiry sections around Contact Us – address – Devland on a separate line Contact Us – Change Tel no to 087 740 2101 History - update to below text
      </p>
      <p class="about-content-style" >
        Fair Price is a partially integrated furniture and appliance company. We are a Furniture Retailer (cash and lay-bye) of locally manufactured and imported furniture and appliances, with stores in townships, central business districts, suburban and regional shopping malls and value marts.
      </p>
      <p class="about-content-style" >
        We manufacturer a comprehensive range of products (i.e. wardrobes, bedroom suites, TV units, wall units and kitchen cupboards), exclusively for our own stores. Our Stores are supplied through our own national and local distribution centres.
      </p>
      <p class="about-content-style" >
        Fair Price have retail outlets located in Gauteng, North West, Mpumalanga and Limpopo Provinces of South Africa. There are currently 65 stores and will be expanding into other provinces in the near future.
      </p>
      <p class="about-content-style" >
        Fair Price continuously researches the requirements of our target market and we test our value proposition. We are therefore able to offer our customers:
      </p>
      <p class="about-content-style" >
        • A wide range of good quality, functional and fashionable products <br>
• A wide range of price points <br>
• A unique lay-bye system <br>
• Various delivery options <br>
• Unsurpassed value for money
      </p>
    </div>
  </div>
</section>