<style type="text/css">
  
  .term-and-condition ul li{
    list-style: outside;
    line-height: 25px;
    font-size: 16px;
  }
</style>

<!-- ========================  Main header ======================== -->
  <section class="breadcrumb breadcrumb_bg" style="background-image:url('<%= asset_path('/assets/img/term_condition.png') %>');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2 style="padding-right: 12%;">Terms & Conditions</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================  Content ======================== -->
<section class="product">
  <div class="main">
    <div class="container">
         <div class="row">
            <div class="col-md-12">
              <div class="term-and-condition">
               <h4>Introduction</h4>
               <p>The terms of this document are subject to the National Credit Act (“NCA”) and Consumer Protection Act (“CPA”).</p>
               <h4>Products, price and availability</h4>
               <ul style="padding: 10px">
                  <li>Pricing is in South African Rands and is inclusive of Value-Added-Tax (“VAT”).  The agreement is governed by the laws of the Republic of South Africa.</li>
                  <li>Pricing is subject to price changes.</li>
                  <li>We will make all efforts to ensure pricing is correct, but we will not be obliged to sell products displaying incorrect prices.</li>
                  <li>If quotes are requested this will be valid for 7 days</li>
                  <li>Once a deposit is paid, you have accepted the order and terms of the payment.</li>
                  <li>If we are unable to complete an order due to whatever reason that has come, you will be notified and be entitled to a refund of the amount and we will not be liable for any damage incurred due to our inability to provide the products ordered.</li>
               </ul>
               <h4>Payment method</h4>
               <ul>
                  <li>Payments may be made via cash, EFT, Credit card or any other recognized payment method.</li>
                  <li>When placing an order, the transaction details are presented to the bank for authorization and confirmation.</li>
                  <li>If bank’s authorization is not obtained, the order will unfortunately be cancelled. We will not be held liable for any delays in payment confirmation from the financial institutions.</li>
               </ul>
               <h4>Laybys</h4>
               <ul>
                  <li>A R50 Deposit is required for a Layby which is interest free and a period to pay off up to12 months</li>
                  <li>Fair Price will not reserve stock for laybys. If stock is not available, where possible we will source the stock or offer a replacement for similar value.</li>
               </ul>
               <h4>Delivery Policy</h4>
               <ul>
                  <li>We will always do our best to offer deliveries within 48 hours in Gauteng only, for which the cut off is 12pm on the trading day of purchase.</li>
                  <li>Delivery will only take place once the full amount owing has been paid and it reflects in the Fair Price bank account.</li>
                  <li>If we have a delivery backlog please expect delays as we clear the backlog, this may be up to 5 working days.</li>
                  <li>Goods must be inspected by the customer for defects and errors and errors or defects must be reported to us within 5 days after delivery.</li>
                  <li>Furniture is delivered to the customer’s home via a courier service to the front door only (of the ground floor). The delivery fee is determined in relation to delivery distance from our depot to the</li>
                  <li>Delivery address. A single delivery fee or multiple delivery fees will be charged regardless of the number of items purchased in one transaction, subject to the maximum delivery space available within the delivery vehicle.</li>
                  <li>The customer must ensure that the furniture item/s will fit through entrances, doorways, lifts and stairwells, and that these routes are clear of obstructions for delivery. We do not hoist goods onto balconies. (Furniture measurements  are important for customers to check , before purchasing )</li>
                  <li>Fair Price will not be held responsible once the driver leaves the customer’s premises </li>
                  <li>Other than the customer that makes a purchase of, delivery of an item received by a minor, Fair Price will not be responsible for the item been delivered with a minor’s signatory with any defects.</li>
                  <li>Costs of any defects will be charged to the  customer from the supplier , with payment first if negligence</li>
                  <li>The courier will only deliver to the specified delivery address (as per the order documentation delivery instructions), and the authorised person to receive the delivery.</li>
                  <li>The courier will contact the customer within to arrange delivery within a reasonable time, dependency of weather conditions, no accidents or traffic congestion   on any weekday between the hours of 8am and 5pm. No deliveries will be made during weekends or public holidays</li>
                  <li>When the courier contacts the customer to arrange delivery, the customer must notify the courier of the level that the property is on, e.g.: Ground Floor, Level 1, etc.</li>
                  <li>If the furniture item/s needs to be carried above ground floor level of which the maximum being 5 floors, the customer must liaise with the couriers to do so and sign proof of receipt/delivery prior to item/s being delivered to requested floor</li>
                  <li>. The courier will counter-sign as acceptance of the customer’s request to carry the items above ground floor.  Fair Price and the couriers will not be held responsible</li>
                  <li>For any losses or damage incurred during delivery that may result due to non-compliance by the customer</li>
                  <li>All furniture delivered from the Distribution Centre will be sealed in its original packaging.</li>
                  <li>The person receiving the item/s will be required to sign the proof of receipt/delivery to indicate that each item has been received undamaged and sealed in its original packaging.</li>
                  <li>Should the item be damaged or the packaging not is in place, this must be indicated on the delivery document and the courier representative and the person receiving the item must both sign the delivery document to this effect. If the item is damaged it will be returned to Fair Price by the courier.</li>
               </ul>
               <h4>Refund & Exchange Policy</h4>
               <ul>
                  <li>Refunds will be at the discretion of Fair Price, based on condition of the returned furniture and the merit of each refund request.</li>
                  <li>No refunds on special or customized orders will be allowed.</li>
                  <li>Any unused furniture item returned sealed in its original packaging and in the purchase condition within 10 days from date of delivery can be exchanged or the purchase price refunded subject to the proof of purchase being presented by the customer. If the item was delivered by courier (and is furniture or) the item must be returned by courier. The customer will be debited the amount charged by the courier from the refund amount.</li>
                  <li>Should an item assembled by the store or at the customer’s residence, be found to be faulty or the item does not comply with the description given on the packaging once assembled OR</li>
                  <li>Should a customer choose to assemble their own item and it does not comply with the description given on the packaging with regards to item; components or assembly instructions, and the item is returned in the original packaging (where possible), within 10 days,   of purchase (proof of purchase is required),  FAIR PRICE will repair or replace the item at no charge once it has been returned to the store (only if the item was collected from the store by the customer) Fair Price will arrange for the item to be collected via courier, at no cost to the customer, if the item was originally delivered by courier.</li>
                  <li>FAIR PRICE cannot be held liable if the customer has erroneously assembled the item/s thus damaging the item.</li>
                  <li>Store purchases will be refunded in the same form of payment tender made by the customer. With a proof of purchase. </li>
                  <li>All glass items must be checked when delivered or picked up , No exchanges will be allowed after signing of item </li>
               </ul>
               <h4>Appliances Refund</h4>
               <p>Note a proof of purchase is required at all given times for warranty purposes as per suppliers manuals , terms and conditions  , Fair Price will not be responsible if proof of purchase cannot be presented for warranty to suppliers conditions, suppliers manuals states it very clearly and rules and terms must be followed  </p>
               <p>TV   that are purchased  must be checked immediately when received or  before leaves the premises of Fair Price, we will not be held responsible for any dents , broken screens etc. , due to the item been fragile  and also by different means of transportation </p>
               <h4>Proof of purchase </h4>
               <p>Bank statements that reflect a purchase does not allow the customer rights to warranty claims, many retailers sell similar products and your proof of purchase validates the safety of your warranty, and is for your safe keeping and on your onus to keep such records  </p>
               <p>Once an item of an appliance is received, the customer must check immediately if has no dents, scratches etc., Fair Price will not be held responsible thereafter and only </p>
               <h4>Base and mattress sets </h4>
               <p>The exchange policy  to mattresses  are subjected to suppliers term and conditions and  will be covered with a warranty fee by suppliers calculation  on date of purchase and date of reporting </p>
               <p>Mattresses that are soiled, damaged, has blood stains etc. will not cover any warranties, this is a health risk and will be rejected on inspection by the courier service  </p>
               <p>Bases has no warranty only if it has a defect on time of delivery   and returned immediately, we will not cover any  warranty on broken bases </p>
               <p>FP reserves the right for a company appointed or manufacturer representative to inspect the item before a refund, repair or replacement is considered. Photographs of the defect, to confirm the defect may be requested before the item is collected by the courier.</p>
               <h4>CANCELLATION POLICY</h4>
               <p>The Consumer may at any time prior to the order being finalized and confirmed online via completion of the transaction, cancel the order at no charge to him or her. Once the order has been confirmed and finalized however, Fair Price reserves the right to charge a reasonable handling or administrative charge which may be up to 10% of the purchase price of the goods in accordance with the Consumer Protection Act (the “CPA”) Fair Price reserves the right to cancel any order where there is suspicion of fraud, misconduct or other criminal activity and to refuse the supply of goods in such circumstances. All cancellation of orders must be done in writing from the account holder related to the purchase and refunds shall take 10 working days to process. If cancellation are done after an order has been shipped, the customer shall be refunded only once the order has been returned and validated in the warehouse at Fair Price and that account holder may be liable for shipping charges.</p>
            </div>
         </div>
       </div>
      </div>


  </div>
</section>