<div class="row">
  <div class="col-lg-9 mt-3 offset-2">
    <div class="card">
      <div class="card-header">
        <strong>Product Category</strong>
      </div>
      <div class="card-body">
        <h2 align="center">productcategory: <%= @product_category.title %></h2>
        <div class="well col-xs-8 col-xs-offset-2">
          <div class="article-actions">
            <%= link_to "Edit",  edit_admin_product_category_path(@product_category), class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
